<!-- Match Menu -->
        
<div class="grid-block shrink border-block">
  <div class="small-12">
    <ul class=" primary ftz-menu-bar">
    <li ui-sref-active="match-menu-active"><a ui-sref="edit-match.step-1"><i class="fa fa-map-marker"></i> Paso 1</a></li>
      <!-- <li ui-sref-active="match-menu-active"><a ui-sref="teams"><i class="fa fa-group"></i> Equipos</a></li> -->
      <li ui-sref-active="match-menu-active"><a ui-sref="edit-match.step-2"><i class="fa fa-soccer-ball-o"></i> Paso 2</a></li>
      <li ui-sref-active="match-menu-active"><a ui-sref="edit-match.step-3"><i class="fa fa-bullhorn"></i> Paso 3</a></li>
    </ul>
  </div>
</div>