<div class="card">
	<div class="card-section field-info">
		<div class="text">
			<h4>{{field.name}}</h4>
			<p ng-show="field.address != ''">{{field.address}}</p>
			<p ng-show="field.town != undefined">{{field.town.name}}, {{field.state.name}}</p>
		</div>
		<!--
		TODO: Foto
		<div class="picture float-right">
			<a href="#"><i class="fa fa-image"></i><img src="" alt=""></a>
		</div>
		-->
		<!--
		TODO: Rating 
		<div class="star-rating float-right">
			<ul>
				<li>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star-o"></i>
				</li>
			</ul>
		</div>
		-->
	</div>
</div>