<div class="card">
		<div class="card-section">
		<a ui-sref="match" class="match-card-info">

			<div class="date-block">
				<span class="day">24</span>
				<span class="month">JAN</span>
			</div>

			<div class="text">
				<h4>Fútbol 5</h4>
				<p>Jueves a las <strong>6:30 pm</strong></p>
				<p>San Isidro Fútbol, Martinez</p>
			</div>

		</a>
		<br>
			<div class="match-card-actions">
				<ul class="tiny success button-group segmented align-justify">
					<li><a href="#"><i class="fa fa-thumbs-up"></i> Juego</a></li>
					<li><a href="#"><i class="fa fa-thumbs-down"></i> No puedo</a></li>
				</ul>
			</div>
		</div>
	</div>