<!-- Match Menu -->
        
<div class="grid-block shrink border-block">
  <div class="small-12">
    <ul class=" primary ftz-menu-bar">
	<li ui-sref-active="match-menu-active"><a ng-href="#/step-1" ui-sref="new-match.step-1"><i class="fa fa-map-marker"></i> La Cancha</a></li>
      <!-- <li ui-sref-active="match-menu-active"><a ui-sref="teams"><i class="fa fa-group"></i> Equipos</a></li> -->
      <li ui-sref-active="match-menu-active"><a ng-class="step2 ? '' : 'disabled'" ng-href="#/step-2"><i class="fa fa-soccer-ball-o"></i> Cuántos y Cuándo</a></li><!-- TODO: Disable when not completed data on step-1 -->
      <li ui-sref-active="match-menu-active"><a ng-class="step3 ? '' : 'disabled'" ng-click="$root.createMatch()"><i class="fa fa-bullhorn"></i> Compartí</a></li>
    </ul>
  </div>
</div>