<div class="landing-homescreen">
	<div class="landing-homescreen-overlay">
		<div class="center">
		<span class="landing-homescreen-arrow fa fa-long-arrow-up"></span>

		<button class="landing-homescreen-continue">
			<span class="landing-homescreen-continue-text">Continuar en navegador</span>
		</button>

		<img src="assets/img/futzapp-logo-hand.png" alt="Futzapp" class="landing-homescreen-logo" width="176" height="60">
		<p class="landing-homescreen-caption">Nos vemos en la cancha</p>
		<hr class="landing-homescreen-hr">
		<p class="landing-homescreen-instructions">Para instalar presioná <span class="landing-homescreen-icon-menu"></span> y elegí la opción "Add&nbsp;to&nbsp;Home&nbsp;Screen"</p>

		<p class="landing-homescreen-hook">Armar partidos nunca fue tan fácil</p>
		</div>
	</div>
</div>
