
<zf-modal id="playerProfile" overlay="true" class="tiny modal-with-header">
		<a class="close-button" zf-close="">×</a>

<div class="modal-content">
<div class="grid-content">
	<div class="profile-card">
		<div class="card">
			<div class="card-section">
				<div class="player-profile-picture">
					<img src="{{selectedUser.photo_url == NULL ? 'assets/img/profile-placeholder.png': selectedUser.photo_url}}" alt="">
				</div>
				<div class="player-profile-info">
					<h4>{{selectedUser.name}} {{selectedUser.lastname}}</h4> 
					<p ng-if="selectedUser.fanOf != undefined && selectedUser.fanOf != ''" class="match-owner"><i class="fa fa-shield"></i> Hincha de <strong>{{selectedUser.fanOf}}</strong></p>
				</div>
				<!--<hr>
				<div class="grid-block small-2-up align-center">
					<div class="grid-block player-stats">
						<span class="matches-played">{{matchesPlayed}} <i class="fa fa-thumbs-up"></i></span>
						
						<p>Futzapps <br>jugados</p>
					</div>
					<div class="grid-block player-stats ">
						<span class="matches-created">{{matchesOrganized}} <i class="fa fa-soccer-ball-o"></i></span>
						
						<p>Futzapps <br>armados</p>
					</div>
				</div>
				-->
			</div>
		</div>
	</div>
	
	<div ng-show="adminMode && selectedUser.id != $root.user.id">
		<a ng-click="deletePlayer(selectedUser.id)" class="alert expand hollow button"><i class="fa fa-thumbs-down"></i>&nbsp; Dar de baja</a>
	</div>
	

</div>
</div>
</zf-modal>
