<zf-modal id="teamColors" overlay="true" class="modal-with-header">
		<a class="close-button" zf-close="">×</a>

<div class="modal-content">
<div class="grid-content ">
	
		<!-- <div ng-include="" src="'partials/new-match-card.html'"></div>
	<hr> -->

		<form>
		<header><i class="fa fa-user"></i> Editá los equipos:</header>		
		<hr>
		
		<div class="grid-block">

			<!--<div class="small-12 grid-content collapse">
				<label>
					Nombre Equipo A
					<input type="text" placeholder="Equipo">
				</label>
			</div>-->
			<div class="small-12 grid-content collapse">
				<label>
					Color Equipo A
				</label>
				<ul class="team-color-list">
					<li class="team-color" ng-class="{'selected': teamA.team.shirtColor == '#2ecc71'}" ng-click="setTeamAColor('#2ecc71')"><i class="fa fa-user team-c"></i></li>
					<li class="team-color" ng-class="{'selected': teamA.team.shirtColor == '#3498db'}" ng-click="setTeamAColor('#3498db')"><i class="fa fa-user team-d"></i></li>
					<li class="team-color" ng-class="{'selected': teamA.team.shirtColor == '#34495e'}" ng-click="setTeamAColor('#34495e')"><i class="fa fa-user team-e"></i></li>
					<li class="team-color" ng-class="{'selected': teamA.team.shirtColor == '#f1c40f'}" ng-click="setTeamAColor('#f1c40f')"><i class="fa fa-user team-f"></i></li>
					<li class="team-color" ng-class="{'selected': teamA.team.shirtColor == '#e74c3c'}" ng-click="setTeamAColor('#e74c3c')"><i class="fa fa-user team-g"></i></li>
					<li class="team-color" ng-class="{'selected': teamA.team.shirtColor == '#ecf0f1'}" ng-click="setTeamAColor('#ecf0f1')"><i class="fa fa-user team-h"></i></li>
					<li class="team-color" ng-class="{'selected': teamA.team.shirtColor == '#1abc9c'}" ng-click="setTeamAColor('#1abc9c')"><i class="fa fa-user team-i"></i></li>
					<li class="team-color" ng-class="{'selected': teamA.team.shirtColor == '#CFD8DC'}" ng-click="setTeamAColor('#CFD8DC')"><i class="fa fa-user team-j"></i></li>
				</ul>
			</div>			
		
		<hr>
		

			<!--<div class="small-12 grid-content collapse">
				<label>
					Nombre Equipo A
					<input type="text" placeholder="Equipo">
				</label>
			</div>-->
			<div class="small-12 grid-content collapse">
				<label>
					Color Equipo B
				</label>
				<ul class="team-color-list">
					<li class="team-color" ng-class="{'selected': teamB.team.shirtColor == '#2ecc71'}" ng-click="setTeamBColor('#2ecc71')"><i class="fa fa-user team-c"></i></li>
					<li class="team-color" ng-class="{'selected': teamB.team.shirtColor == '#3498db'}" ng-click="setTeamBColor('#3498db')"><i class="fa fa-user team-d"></i></li>
					<li class="team-color" ng-class="{'selected': teamB.team.shirtColor == '#34495e'}" ng-click="setTeamBColor('#34495e')"><i class="fa fa-user team-e"></i></li>
					<li class="team-color" ng-class="{'selected': teamB.team.shirtColor == '#f1c40f'}" ng-click="setTeamBColor('#f1c40f')"><i class="fa fa-user team-f"></i></li>
					<li class="team-color" ng-class="{'selected': teamB.team.shirtColor == '#e74c3c'}" ng-click="setTeamBColor('#e74c3c')"><i class="fa fa-user team-g"></i></li>
					<li class="team-color" ng-class="{'selected': teamB.team.shirtColor == '#ecf0f1'}" ng-click="setTeamBColor('#ecf0f1')"><i class="fa fa-user team-h"></i></li>
					<li class="team-color" ng-class="{'selected': teamB.team.shirtColor == '#1abc9c'}" ng-click="setTeamBColor('#1abc9c')"><i class="fa fa-user team-i"></i></li>
					<li class="team-color" ng-class="{'selected': teamB.team.shirtColor == '#CFD8DC'}" ng-click="setTeamBColor('#CFD8DC')"><i class="fa fa-user team-j"></i></li>
				</ul>
			</div>			
		</div>

		<br>
		<a class="success expand button" zf-close=""><i class="fa fa-check"></i>&nbsp; Guardar</a>
	
</form>
	

</div>
</div>
</zf-modal>
