<zf-modal id="invitePlayers" overlay="true" class="small modal-with-header">
<a class="close-button" zf-close="">×</a>

<div class="modal-content">
	<div class="grid-block">
		<div class="grid-content">
			
		<!-- <div ng-include="" src="'partials/new-match-card.html'"></div>
		<hr> -->
		<header><i class="fa fa-bullhorn"></i> Invitá a tus amigos:</header>
		
		<p show-for-medium>Para poder compartir por <strong>WhatsApp</strong> ingresá desde tu smartphone</p>
		<a href="{{wpMsg}}" data-action="share/whatsapp/share" class="invite-card show-for-small-only">
			<div class="card  wa">
				<div class="card-section">
					<div class="invite-logo">
						<img src="assets/img/wa-iso.svg" alt="WhatsApp logo">
					</div>
					<div class="invite-text wa">
						<h4>WhatsApp</h4>
						<p>Compartilo en tus <strong>Grupos</strong></p>
					</div>
					
				</div>
			</div>
		</a>

		<a href ng-click="shareFB()" class="invite-card">
			<div class="card fb">
				<div class="card-section">
					<div class="invite-logo">
						<img src="assets/img/fb-iso.svg" alt="Facebook logo">
					</div>
					<div class="invite-text fb">
						<h4>Facebook</h4>
						<p>Compartilo con <strong>Amigos</strong></p>
					</div>
					
				</div>
			</div>
		</a>
		<br>
		<!-- <p>También podés hacerlo en más adela</p> -->
		<!-- <a ui-sref="my-match" class="hollow expand button add-player"><i class="fa fa-angle-left"></i>&nbsp; Volver al Partido </a> -->
		
		

	</div>
</div>
</div>
</zf-modal>
