<header><i class="fa fa-soccer-ball-o"></i> Tu Futzapp:</header>
<div class="card new-match-card">
		<div class="card-section">
		
		<div class="match-card-info">

			<div class="date-block">
				<span class="day">{{match.date | dateFormat:'D'}}</span>
				<span class="month">{{(match.date | dateFormat:'MMMM').substr(0,3)}}</span>
			</div>

			<div class="text">
				<h4>{{match.type.name}}</h4>
				<p>{{match.date | dateFormat:'dddd'}} a las <strong>{{match.date | dateFormat:'hh:mm A'}}</strong></p>
				<p>{{($root.fields | getById:match.fieldId).name}}<span ng-show="($root.fields | getById:match.fieldId).town != undefined">, {{($root.fields | getById:match.fieldId).town.name}}</span></p>
			</div>

			
			
		</div>
		</div>
	</div>