
<zf-offcanvas id="offcanvasMenu" position="left" class="player-list">
	<a zf-close="" class="close-button"><span class="float-left">Menu</span>×</a>
	<div class="user-profile"><a href=""><img src="assets/img/face1.jpg" alt=""><h6>Daieg Ferveyra</h6></a>
	</div>
	<section class="block-list">
  <ul>
    <!-- With a label -->
    <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
    <li><a href="#"><i class="fa fa-soccer-ball-o"></i>Mis Futzapps</a></li>
    <li><a href="#"><i class="fa fa-bullhorn"></i>Convocatorias</a></li>
    <li><a href="#"><i class="fa fa-cog"></i>Mi Perfíl</a></li>
    <li><a href="#"><i class="fa fa-sign-out"></i>Salir</a></li>
  </ul>
</section>
</zf-offcanvas>