<div zf-panel="" zf-swipe-close="left" id="panelMenu" position="left" class="panel-fixed" >
		<a zf-close="" class="close-button"><span class="float-left">Menu</span>×</a>
	<div class="user-profile">
    <a href="" ng-click="changeSelectedUser($root.user)" zf-open="playerProfile">
      <img src="{{$root.user.photo_url}}" alt="">
      <h6>{{$root.user.name}} {{$root.user.lastname}}</h6>
    </a>
	</div>

	<section class="block-list">
  <ul>
    <li><a ng-href="#/home"><i class="fa fa-soccer-ball-o"></i>Mis Futzapps</a></li>
    <li><a ng-href="#/settings"><i class="fa fa-cog"></i>Mi Perfíl</a></li>
    <li><a ng-href="#/help"><i class="fa fa-question"></i>Ayuda</a></li>
    <li><a ng-click="$root.logout()"><i class="fa fa-sign-out"></i>Salir</a></li>
  </ul>
</section>


<div class="grid-block shrink menu-footer">
  <div class="grid-content">
    <footer>
      <p>2015. <strong>Futzapp Beta</strong> todos los derechos reservados.</p>

      <p>Powered by <a href="http://greentomato.com.ar" target="_blank">GT</a></p>
    </footer>
  </div>
</div>
</div>
