<zf-popup id="teamColorsA" class="padding">
  <div class="grid-block">
  	<div class="team-color"><i class="fa fa-square team-c"></i></div>
  	<div class="team-color"><i class="fa fa-square team-d"></i></div>
  	<div class="team-color"><i class="fa fa-square team-e"></i></div>
  	<div class="team-color"><i class="fa fa-square team-f"></i></div>
  	<div class="team-color"><i class="fa fa-square team-g"></i></div>
  	<div class="team-color"><i class="fa fa-square team-h"></i></div>
  	<div class="team-color"><i class="fa fa-square team-i"></i></div>
  	<div class="team-color"><i class="fa fa-square team-j"></i></div>
  </div>
</zf-popup>

<zf-popup id="teamColorsB" class="padding">
  <div class="grid-block">
  	<div class="team-color"><i class="fa fa-square team-c"></i></div>
  	<div class="team-color"><i class="fa fa-square team-d"></i></div>
  	<div class="team-color"><i class="fa fa-square team-e"></i></div>
  	<div class="team-color"><i class="fa fa-square team-f"></i></div>
  	<div class="team-color"><i class="fa fa-square team-g"></i></div>
  	<div class="team-color"><i class="fa fa-square team-h"></i></div>
  	<div class="team-color"><i class="fa fa-square team-i"></i></div>
  	<div class="team-color"><i class="fa fa-square team-j"></i></div>
  </div>
</zf-popup>