---
name: edit-match.step-1
url: /step-1
title: Editando Futzapp
prev: my-match
---

<div ng-include="" src="'partials/edit-match-menu.html'"></div>
<div class="grid-content collapse">
	<progress  class="new-match-steps-progress" value="30" max="90"></progress>
</div>

<div class="grid-content grid-container">
	<form>
		<!-- <h4 class="form-header"><span>Paso 1/3</span></h4>
		<hr> -->
		<header>Elegí la sede del partido</header>
		<div class="grid-block">
			
			<div class="small-6 grid-content">
				<label>Provincia</label>
				<select name="" id="">
					<option value="">GBA Norte</option>
					<option value="">Capital Federal</option>
					<option value="">GBA Norte</option>
					<option value="">GBA Sur</option>
					<option value="">GBA Oeste</option>
				</select>
			</div>
			<div class="small-6 grid-content">
				<label>Localidad</label>
				<select name="" id="">
					<option value="">San Isidro</option>
					<option value="">San Fernando</option>
					<option value="">Tigre</option>
				</select>
			</div>
			<div class="small-12 medium-6 grid-content">
				<label><i class="fa fa-map-marker"></i> Cancha</label>
				<select name="" id="">
					<option value="">San Isidro Fútbol</option>
					<option value="">Thames Fútbol</option>
					<option value="">Marangoni</option>
				</select>
			</div>

			<div class="small-12 grid-content">
				<div ng-include="" src="'partials/field-card.html'"></div>

				<header>Reservá tu cancha:</header>
				<a class="warning hollow expand button" href="tel:47374480"><i class="fa fa-phone"></i>&nbsp;4737-4480</a>


				<br>
				<a class="success expand button" ui-sref="edit-match.step-2">Siguiente &nbsp;<i class="fa fa-angle-right"></i></a>
			</div>
		</div>

	</form>
	
</div>



