---
name: help
url: /help
title: Ayuda
---

<div class="grid-frame vertical">
	<!-- TitleBar -->
	<div ng-include="" src="'partials/back-title-bar.html'"></div>
	<div class="grid-block vertical shrink grid-container">
		<div class="grid-content">
			<header><i class="fa fa-question-circle"></i> Preguntas Frecuentes</header>
		</div>
	

				<div class="grid-content">
					<zf-accordion>
					<zf-accordion-item title="1. Pregunta">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis laborum fuga enim omnis! Nisi, maiores. Ea distinctio fuga architecto repellat odit, magni quidem deleniti pariatur nam, ratione quasi fugiat sit!
				</zf-accordion-item>
				<zf-accordion-item title="2. Pregunta">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis laborum fuga enim omnis! Nisi, maiores. Ea distinctio fuga architecto repellat odit, magni quidem deleniti pariatur nam, ratione quasi fugiat sit!
			</zf-accordion-item>
			<zf-accordion-item title="3. Pregunta">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis laborum fuga enim omnis! Nisi, maiores. Ea distinctio fuga architecto repellat odit, magni quidem deleniti pariatur nam, ratione quasi fugiat sit!
		</zf-accordion-item>
		<zf-accordion-item title="4. Pregunta">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis laborum fuga enim omnis! Nisi, maiores. Ea distinctio fuga architecto repellat odit, magni quidem deleniti pariatur nam, ratione quasi fugiat sit!
		</zf-accordion-item>
		<zf-accordion-item title="5. Pregunta">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis laborum fuga enim omnis! Nisi, maiores. Ea distinctio fuga architecto repellat odit, magni quidem deleniti pariatur nam, ratione quasi fugiat sit!
		</zf-accordion-item>
		</zf-accordion>
		</div>


</div>

</div>



