<div class="splash-bg">
	<div class="landing-container grid-container">

	<div class="landing-cta">
		<div class="app-logo">
			<img src="assets/img/futzapp-logo-color.svg" alt="Futzapp">
			<h1>Futz<span class="thin"></span>App</h1>
		</div>
		<h3 class="subheader">Armá tus <strong>partidos de fútbol</strong>, usando tus grupos y amigos de <strong>WhatsApp</strong> y Facebook. <em>(Y sin descargar nada)</em></h3>

		<!--<div class="fb-login-button" data-scope="public_profile,email,user_friends,friends_photos,publish_actions" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div>-->
		<a class="large button" ng-click="login()"><i class="fa fa-facebook"></i> Ingresá con Facebook</a>
		<p><strong>Futz</strong>App es una <strong>WebApp Online</strong> pensada especialmente para que la uses en tu smartphone.</p>
	</div>
	<div class="smartphone-mockup">
		<img src="assets/img/futzapp-smartphone.png" alt="Futzapp en Smartphone">
	</div>

</div>
</div>

<div ng-include="" src="'partials/mobile-to-home-screen.html'"></div>
