<div>
	<!-- TitleBar -->
	<div ng-include="" src="'partials/match-title-bar.html'"></div>
	
	<div ng-if="adminMode" ng-include="" src="'partials/modal-invite-players.html'"></div>
	<div ng-if="adminMode" ng-include="" src="'partials/modal-add-player.html'"></div>
	<div ng-if="adminMode" ng-include="" src="'partials/modal-assign-team.html'"></div>
	<div ng-if="adminMode" ng-include="" src="'partials/modal-team-colors.html'"></div>
	<div ng-if="adminMode" ng-include="" src="'partials/modal-cancel-match.html'"></div>
	<div ng-include="" src="'partials/modal-player-profile.html'"></div>
	<modal-field field="match.field"></modal-field>
	
	<!-- Match Container -->
	<div class="match-container">	

		<!-- Match Info -->
		<div>
			<div class="grid-content">
				<div ng-if="adminMode" class="match-header">
					<!-- <div class="ribbon ribbon ribbon-orange">
						<div class="banner">
							<div class="text"><i class="fa fa-soccer-ball-o"></i></div>
						</div>
					</div> -->
					<h2>{{ match.type.name }} <a ng-click="$root.editMatch(match)" class="small-action"><i class="fa fa-pencil-square-o"></i>Editar</a></h2>
				</div>
				<div ng-if="!adminMode" class="match-header">
					<h2>
     					<div class="ribbon ribbon-green">
     						<div class="banner">
     							<div class="text"><i class="fa fa-thumbs-up"></i></div>
     						</div>
     					</div>
     					{{ match.type.name }}
     				</h2>
				</div>

				<div class="match-info">
					<div class="date-block">
						<div class="day">{{match.date | dateFormat:'D'}}</div>
						<div class="month">{{(match.date | dateFormat:'MMMM').substr(0,3)}}</div>
					</div>
					<div class="text">
						<p>{{match.date | dateFormat:'dddd'}} a las <strong>{{match.date | dateFormat:'hh:mm a'}}</strong></p>
						<p ng-if="($root.fields | getById:match.fieldId).town != undefined"><a ng-click="renderGoogleMap()" zf-open="fieldInfo"><i class="fa fa-map-marker"></i><strong>{{match.field.name}}</strong>, {{($root.fields | getById:match.fieldId).town.name}}</a></p>
						<p ng-if="($root.fields | getById:match.fieldId).town == undefined"><i class="fa fa-map-marker"></i><strong>{{match.field.name}}</strong></p>
					</div>
				</div>

				<div ng-if="adminMode" class="match-actions">
					<a class="warning expand button" zf-open="invitePlayers"><i class="fa fa-bullhorn"></i>&nbsp; Convocar jugadores</a>
					<a class="small-action" ng-click="newPlayer.name = ''" zf-open="addPlayers"><i class="fa fa-plus"></i> Agregar jugador a mano</a>
					<a class="small-action" zf-open="cancelMatch"><i class="fa fa-minus"></i> Cancelar partido</a>
				</div>
				<div ng-if="!adminMode" class="match-actions">
     				<div ng-include="" src="'partials/match-confirm-buttons.html'"></div>
     			</div>
				
				<hr>
				<p class="match-owner"><i class="fa fa-bullhorn"></i> {{guests.length}} convocados por <strong>{{adminMode ? 'Vos' : match.admin.name}}</strong> {{adminMode ? '(Organizador)' : ''}}</p>
			</div>
		</div>

		<!-- Match Players -->
		<div>
			<div class="grid-content">
				<div class="match-confirmation-meter">
					<meter min="0" max="{{match.type.totalPlayers}}" low="{{match.type.totalPlayers/4}}" high="{{match.type.totalPlayers*3/4}}" optimum="{{match.type.totalPlayers}}" value="{{match.guestsConfirmedAmount}}"></meter>
					<span><i class="fa fa-thumbs-up"></i>&nbsp; {{match.guestsConfirmedAmount}}/{{match.type.totalPlayers}} Jugadores confirmaron</span>
				</div>

				<teams></teams>
			</div>
		</div>

		<!-- Match Comments -->
		<div>
			<div class="grid-content">
				<div ng-include="" src="'partials/comments.html'"></div>

			</div>
		</div>
	</div>
</div>


