---
name: settings
url: /settings
title: Mi Perfíl
---

<div class="grid-frame vertical">
	<!-- TitleBar -->
	<div ng-include="" src="'partials/back-title-bar.html'"></div>
	
	<div class="grid-block vertical medium-horizontal grid-container">

		<div class="grid-content shrink medium-6">
			<div class="profile-card">
				<div class="card">
					<div class="card-section">
						<div class="player-profile-picture">
							<img src="assets/img/face1.jpg" alt="">
						</div>
						<div class="player-profile-info">
							<h4>Daieg Ferveyra</h4> 
							<a href="#" class="small-action" ><i class="fa fa-image"></i> Cambiar foto de perfíl</a>
						</div>
						<hr>
						<div class="grid-block small-2-up align-center">
							<div class="grid-block player-stats">
								<span class="matches-played">24 <i class="fa fa-thumbs-up"></i></span>

								<p>Futzapps <br>jugados</p>
							</div>
							<div class="grid-block player-stats ">
								<span class="matches-created">2 <i class="fa fa-soccer-ball-o"></i></span>

								<p>Futzapps <br>armados</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

<div class="grid-content shrink medium-6">
			<form>
		<!-- <h4 class="form-header"><span>Paso 2/3</span></h4>
		<hr> -->
		<header>Completá con tus datos</header>

		<div class="grid-block">
			<div class="small-12 large-6 grid-content">
				<label>
					<i class="fa fa-smile-o"></i> Nombre Completo
					<input type="text">
				</label>
			</div>

			<div class="small-12 large-6 grid-content">
				<label>
					<i class="fa fa-star-o"></i> Apodo
					<input type="text">
				</label>
			</div>
			
			<div class="small-12 grid-content">
				<label>
					<i class="fa fa-envelope-o"></i> Email
					<input type="email">
				</label>
			</div>

			<div class="small-12 grid-content">
				<label>
					<i class="fa fa-shield"></i> Hincha de
					<input type="text">
				</label>
			</div>

			<div class="small-12 grid-content">
				<label>
					<i class="fa fa-birthday-cake"></i> Cumpleaños
					<input type="date">
				</label>
			</div>
		</div>
		
		<hr>
		<header>Donde vivís</header>

		<div class="grid-block">	

			<div class="small-6 grid-content">
				<label>Provincia</label>
				<select name="" id="">
					<option value="">GBA Norte</option>
					<option value="">Capital Federal</option>
					<option value="">GBA Norte</option>
					<option value="">GBA Sur</option>
					<option value="">GBA Oeste</option>
				</select>
			</div>

			<div class="small-6 grid-content">
				<label>Localidad</label>
				<select name="" id="">
					<option value="">San Isidro</option>
					<option value="">San Fernando</option>
					<option value="">Tigre</option>
				</select>
			</div>
		</div>

		<hr>
		<header>Notificaciones</header>

		<div class="grid-block">
			<div class="small-12 grid-content">
				<label><i class="fa fa-bell-o"></i> Quiero recibir mensajes a mi email</label>
				<br>
				<input id="checkbox1" type="checkbox"><label for="checkbox1"> Si hay actividad en uno de mis partidos.</label>
			</div>
			<br>
			<div class="small-12 grid-content">				
				<input id="checkbox2" type="checkbox"><label for="checkbox2"> Una hora antes del partido.</label>
			</div>
		</div>
	</form>
</div>
</div>

</div>



