<div class="grid-frame vertical">
	<!-- TitleBar -->
	<form-title-bar cancel-url="'#/home'" title="$root.newMatch.id != 0 ? 'Editar Mi Futzapp':'Nuevo Futzapp'"></form-title-bar>
	
	<div class="grid-block">
	<div ng-class="['ui-animation']" class="match-content">
		<match-menu step2="true" step3="true"></match-menu>
		<div class="grid-content collapse">
			<progress  class="new-match-steps-progress" value="90" max="90"></progress>
		</div>

		<div class="grid-content grid-container small-6">
			
				<!-- <h4 class="form-header"><span>Paso 3/3</span></h4>
				<hr> -->
				<new-match-card data="$root.newMatch"></new-match-card>
			<hr>
				<header><i class="fa fa-bullhorn"></i> Invitá a tus amigos:</header>
			

			<p show-for-medium>Para poder compartir por <strong>WhatsApp</strong> es necesario usar tu smartphone.</p>
			<a href="{{$root.wpMsg}}" data-action="share/whatsapp/share" class="invite-card show-for-small-only">
				<div class="card  wa">
					<div class="card-section">
						<div class="invite-logo">
							<img src="assets/img/wa-iso.svg" alt="WhatsApp logo">
						</div>
						<div class="invite-text wa">
							<h4>WhatsApp</h4>
							<p>Compartilo en tus <strong>Grupos</strong></p>
						</div>
						
					</div>
				</div>
			</a>
			
			<a ng-click="$root.shareFB($root.newMatch)" class="invite-card">
				<div class="card fb">
					<div class="card-section">
						<div class="invite-logo">
							<img src="assets/img/fb-iso.svg" alt="Facebook logo">
						</div>
						<div class="invite-text fb">
							<h4>Facebook</h4>
							<p>Compartilo con <strong>Amigos</strong></p>
						</div>
						
					</div>
				</div>
			</a>

			<br>
			<div class="share-link">
				<p>O copiá y compartí el siguiente link:</p>
				<input readonly="readonly" value="{{$root.cleanMatchShareURL}}" type="text" select-on-click>
			</div>
					<!-- <p>También podés hacerlo en más adela</p> -->
					<a ng-href="#/match/{{$root.newMatch.id}}" class="hollow expand button add-player">Ver Partido &nbsp;<i class="fa fa-angle-right"></i></a>
				
			

		</div>
	</div>
	</div>
</div>
