.match-container {
	margin: 48px auto 0;
	max-width: 800px;
}
.match-header {
	background-color: $accentColor;
	
	background: url(../img/f5-match-cover.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-moz-background-attachment: inherit;
	-webkit-background-attachment: inherit;
	background-attachment: inherit;

	-webkit-box-shadow: inset 0px -60px 60px -20px rgba(0,0,0,0.6);
	-moz-box-shadow: inset 0px -60px 60px -20px rgba(0,0,0,0.6);
	box-shadow: inset 0px -60px 60px -20px rgba(0,0,0,0.6);

	margin: 0 -1rem;
	padding:10rem 1rem 1rem;
	h2 {
		color: #fff;
		font-weight: bold;
		text-shadow: 1px 1px 5px rgba(40, 40, 40, 0.7);

		a {
			color: #fff;
			float: right;
			margin-top: 12px;
			&:hover{
				color: $accentColorAlt;
			}
		}
	}
}

.match-info {
	padding: 1rem;
	margin:0 -1rem;
	background: #fff;
	border-bottom: 1px solid $lightPrimaryColor;
	display: block;
	
	color: $text-color;
	overflow: hidden;

	&:hover {
		color: $text-color-hover;
	}

	
	.date-block {
		float: left;
		background-color: #fafafa;
		border: 1px solid $lightPrimaryColor;
		font-weight: bold;
		width: 60px;
		height: 60px;
		padding: 0.55em;
		text-align: center;
		color: $darkPrimaryColor;

		.month {
			display: block;
		}

		.day {
			display: block;
			font-size: 1.625em;
		}
	}
	.text {
		
		margin-left: 80px;
		p{
			margin: 0;
			font-size: 16px;
		}
		.day{
			display: block;
			font-weight: bold;
		}
		a {
			color: $primaryColor;
			text-decoration: underline;
			&:hover {color: $accentColor;}
		}
		i {
			margin-right: 5px;
		}
	}
}

.match-actions {	
	padding: 1rem 0 0;
	
	.button {
		font-weight: bold;
		font-size: rem-calc(16);
	}
	
	.small-action {
		color: $primaryColor;
		margin-bottom: 1rem;
		display: block;
	}
	// .button-group {
	// 	margin: 2rem 0 1rem;
	// }

	// ul {
	// 	width: 100%;

	// 	li {
	// 		width: 50%;
	// 		-webkit-box-sizing: border-box;
	// 		-moz-box-sizing: border-box;
	// 		box-sizing: border-box;
	// 	}
	// }

	// i {
	// 	margin-right: 5px;
	// }
}
.match-owner {
	margin-bottom: 0;
	font-size: rem-calc(14);
	color:$primaryColor;
	i {
		margin-right: 5px;
	}
}

// match meter
.match-confirmation-meter {
	position: relative;
	text-align: center;
	margin-top: 1rem;
	meter{
		height: 2rem;
	}
	span{
		top: 9px;
		left: 0;
		right: 0;
		text-align: center;
		position: absolute;
		font-size: rem-calc(14);
		color: #fff;
		font-weight: bold;
		text-shadow: 0px 0px 5px rgba(40, 40, 40, 0.3);
	}
}


.forget-match{
	font-weight: normal;
}

.ftz-block-list {
	background: #fff;
// This gets you basic styles
@include block-list-container(
$font-size: 1rem, // Base font size for entire list
$full-bleed: true // If true, negative margins are added on the left and right to push the list to the edge of the container
);

// This adds support for icons
&.with-icons {
	@include block-list-icons(
$size: 0.8, // This should be a decimal point. 0.8 makes the icon 80% the size of its parent
$item-selector: 'li' // This should be whatever tag or class your block list uses for items
);
}
// Define what tag or class your list items are with this mixin
li {
	@include block-list-item(
$color: $primaryColor, // Color of items
$color-hover: $darkPrimaryColor, // Color of items on hover
$color-disabled: $lightPrimaryColor, // Color of items when disabled
$background: #fff, // Background color
$background-hover: darken(#fafafa,2), // Background color on hover
$border: 1px solid #ccc, // Top and bottom border of items
$padding: 0.5rem 1rem
);

}

img{
	margin-right: rem-calc(15);
	width: 40px;
	height: 40px;
}

span{
	line-height: 30px; 
	font-size: rem-calc(14);
}
}

.button.hollow.add-player {
	border: 1px solid $lightPrimaryColor;
	color:$primaryColor;
	font-weight: normal;
	font-size: rem-calc(14);

	&:hover {
		border-color: $accentColor;
		color:$accentColor;
	}
}